.homepage-template{
  text-align: center;
  background-color: black;
  color: white;
  padding: 5%;
}

#homeline{
  color: grey;
}

.checked {
  color: orange;
}

.homepage-footer{
  text-align: center;
  background-color: black;
  color: whitesmoke;
  width: 100%;
  left: 0%;
  bottom: 0%;
  padding: 2%; 
  margin-top: 5%;
}

.products-details{
  margin-top: 5%;
}


.btn{
  margin: 0% 15% 0% 15%;
}

.product-name{
  margin-top: 5%;
}

.products-row{
  row-gap: 3rem;
}


